
Product:    {{ ansible_product_name }}  [SN: {{ansible_product_serial}}]
Processor:  {{ ansible_processor_count }} x {{ ansible_processor[2] }} ({{ansible_processor_cores}} cores) / (vCPUs: {{ansible_processor_vcpus}})
Memory:     {{ (ansible_memtotal_mb*1024*1024)|filesizeformat }}
Virtual:    {{ ansible_virtualization_role }}

FQDN:       {{ ansible_fqdn }}
IP address: {{ ansible_default_ipv4.address }}
OS:         {{ ansible_distribution }} {{ ansible_distribution_version }} ({{ ansible_distribution_release }})
Kernel:     {{ ansible_kernel_version }}

Role:       {{ snmp_server_role|default("ROLE NOT DEFINED (snmp_server_role)") }}
Owner:      {{ snmp_contact|default("OWNER NOT DEFINED (snmp_contact)") }}
Location:   {{ snmp_location|default("LOCATION NOT DEFINED (snmp_location)") }}
